{% block title %} test {% endblock %}
{% load static %}
{% block content %}
<style>
body
{
    background-image: url({% static "/images/test2.jpg" %});
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 他说必须设定 负责无效 没看出来*/
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */

    background-size: cover;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #CCCCCC;
}
h1
{
        color:orange;
        text-align:center;
}
m1
{
        font-family:"Times New Roman";
        font-size:100px;
        writing-mode : tb-rl ;
        position:absolute;
        z-index:2;
        left:40%; top:10px
}
      #father{
                width: 400px;
                height: 300px;
                background-color: lightcyan;
                position: absolute;/*父容器绝对定位*/
                left: 50px;
                top: 50px;
                }
            #son1,#son2,#son3{width: 100%;height: 60px;margin-top: 5px;background-color: hotpink;}
            #son3{position: absolute;right: 50px;top: 150px;width:60px;background-color: royalblue;}
</style>

<body>

<div >
  <div style="position:relative;">

    　　<img src="{% static '/images/Flufft-Cat.jpeg' %}" />
        <m1> 哈哈</m1>
    　　<div style="position:absolute; z-index:2; left:10px; top:10px">添加文字...添加文字...添加文字...</div>

  </div>

</div>

</body>


{% endblock %}
